body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff6e;
}

.adContainer{
    display: none;
    position: fixed;
    background-color: #535353e4;
    margin: 30% 10%;
    padding: 3px 20px;
    z-index: 0;
    border-radius: 20px;
    position: absolute;
}

.adText {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    margin: 25px 0;
}

.adContainer img{
    border-radius: 20px;
    width: 250px;
    height: 250px;
}

.adButtonContainer {
    display: flex;
    justify-content: center;
}

.adButton {
    background-color: #292929;
    font-weight: 600;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adButton:hover{
    background-color: #000000;
}

.closeAd {
   display: flex;
   justify-content: right;
   margin: 10px 0;
}

.closeAd svg{
    width: 30px;
    height: 30px;
    fill: #ffffff;
}

.sampleText {
    position: absolute;
    z-index: 0;
    margin: 40px;
    text-align: justify;
    text-indent: 80px;
}

